body {
  position: relative;
  margin: 0;
  transition: all 0.2s;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #eef0f1;
  padding: 0 0 0 24px;
  max-width: 1024px;
  margin: auto;
}

/* Logo */
header span a {
  font-family: "Avenir Book";
  font-weight: 600;
  font-size: 1.2rem;
  color: #222;
}

header nav {
  margin-left: auto;
  display: inline-block;
}

header nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

header nav ul li a {
  color: #222;
  font-family: "Avenir Book";
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 24px;
}

main {
  color: #222;
  padding: 24px;
  max-width: 1024px;
  margin: auto;
}

iframe {
  display: block;
  margin: auto;
}

h1,
h2 {
  color: #222;
}

h2 {
  margin-top: 2rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  margin-top: .2rem;
}

footer {
  color: #fff;
  background: #1d2837;
  text-align: center;
  padding: 32px;
  font-family: Avenir;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 26px;
}

footer a {
  color: #fff;
  text-decoration: underline;
}
